.env
*.env
db.sqlite3
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
chatbot/
my_statistics/
*.pem
*.key
github_ec2
github_ec2.pub
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl
terraform/.terraform/
.kube/
staticfiles/
node_modules/
build/
dist/
.vscode/
.idea/
*.swp
