apiVersion: apps/v1
kind: Deployment
metadata:
  name: mindedhealth-deployment
spec:
  replicas: 2  
  selector:
    matchLabels:
      app: mindedhealth
  template:
    metadata:
      labels:
        app: mindedhealth
    spec:
      containers:
      - name: mindedhealth
        image: kettyvaisbrot/mindedhealth:latest  
        ports:
        - containerPort: 8000  
        volumeMounts:
        - name: sqlite-storage
          mountPath: /app/db  
        env:
        - name: GOOGLE_SEARCH_API_KEY
          value: "REDACTED"
        - name: GOOGLE_SEARCH_CSE_ID
          value: "046ede44ce9e04a66"
      volumes:
      - name: sqlite-storage
        persistentVolumeClaim:
          claimName: sqlite-pvc 
    

