version: '3.9'

services:
  django-app:
    build:
      context: .
      dockerfile: Dockerfile.django
    container_name: mindedhealth-django
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    command: gunicorn mindedhealth.wsgi:application --bind 0.0.0.0:8000

  ai-microservice:
    build:
      context: .
      dockerfile: Dockerfile.ai
    container_name: ai-microservice
    ports:
      - "8001:8001"
    env_file:
      - .env

  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: mindedhealth
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
