asgiref==3.7.2
certifi==2023.5.7
channels==4.2.0
channels_redis==4.2.1
chardet==5.2.0
charset-normalizer==3.3.2
distlib==0.3.6
Django==4.2.2
filelock==3.12.2
idna==3.8
joblib==1.2.0
msgpack==1.1.0
mysqlclient==2.2.6
natsort==8.4.0
numpy==1.24.3
pandas==2.0.1
pillow==10.2.0
pipenv==2023.6.18
platformdirs==3.5.3
python-dateutil==2.8.2
pytz==2023.3
redis==5.2.1
reportlab==4.1.0
requests==2.32.3
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
sqlparse==0.4.4
threadpoolctl==3.1.0
tzdata==2023.3
urllib3==2.2.2
virtualenv==20.23.1
virtualenv-clone==0.5.7
virtualenvwrapper-win==1.2.7
websockets==14.1
