version: "3.9"

services:
  web:
    image: kettyvaisbrot/mindedhealth:latest
    container_name: mindedhealth_app
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    command: >
      sh -c "python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             command: gunicorn MindedHealth.wsgi:application --bind 0.0.0.0:8000"
