version: "3.9"

services:
  redis:
    image: redis:7.0-alpine
    container_name: redis_server
    restart: always
    ports:
      - "6379:6379"

  web:
    image: kettyvaisbrot/mindedhealth:latest
    container_name: mindedhealth_app
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - ./env.prod
    depends_on:
      - redis
    command:
      - sh
      - -c
      - |
        python manage.py migrate &&
        python manage.py collectstatic --noinput &&
        gunicorn MindedHealth.wsgi:application --bind 0.0.0.0:8000
