<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    {% load custom_filters %} 
    <h1>Dashboard</h1>
    <!-- Back button -->
    <a href="{% url 'home' %}">Back to Home</a>
    <form method="GET" action="{% url 'dashboard:dashboard_home' %}">
        <label for="datePicker">Select Date:</label>
        <input type="date" id="datePicker" name="date" value="{% if date %}{{ date }}{% endif %}" max="{{ today }}">
        <button type="submit">Show Data</button>
    </form>

    {% if date %}
        {% if food_logs %}
            <h2>Food Log for {{ date }}</h2>
            <ul>
                {% for log in food_logs %}
                    <li>
                        {{ log.date }} - 
                        Breakfast: {% if log.breakfast_ate %} Ate {% endif %} at {{ log.breakfast_time|default:"No time specified" }}, 
                        Lunch: {% if log.lunch_ate %} Ate {% endif %} at {{ log.lunch_time|default:"No time specified" }},
                        Dinner: {% if log.dinner_ate %} Ate {% endif %} at {{ log.dinner_time|default:"No time specified" }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No food data available for {{ date }}</p>
        {% endif %}
        <!-- Sport Log Section -->
        {% if sport_logs %}
            <h2>Sport Log for {{ date }}</h2>
            <ul>
                {% for log in sport_logs %}
                    <li>
                        {{ log.date }} - 
                        Did Sport: {% if log.did_sport %} Yes {% else %} No {% endif %}, 
                        {% if log.did_sport %}
                            Sport Type: {{ log.get_sport_type_display }}
                            {% if log.sport_type == 'other' %}
                                - Other Sport: {{ log.other_sport }}
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No sport data available for {{ date }}</p>
        {% endif %}
        {% if sleeping_logs %}
            <h2>Sleeping Log for {{ date }}</h2>
            <ul>
                {% for log in sleeping_logs %}
                    <li>
                        {{ log.date }} - 
                        Sleep Time: {{ log.sleep_time|time:"H:i" }}, 
                        Wake Time: {{ log.wake_time|time:"H:i" }}, 
                        Woke Up During Night: {% if log.woke_up_during_night %}Yes{% else %}No{% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No sleeping data available for {{ date }}</p>
        {% endif %}
        <!-- Meeting Log Section -->
        {% if meetings_logs %}
            <h2>Meeting Log for {{ date }}</h2>
            <ul>
                {% for log in meetings_logs %}
                    {% if log.date|date:"Y-m-d" == date %}
                        <li>
                            {{ log.date }} - 
                            Time: {{ log.time|time:"H:i" }}, 
                            Met People: {% if log.met_people %} Yes {% else %} No {% endif %}, 
                            Positivity Rating: {{ log.positivity_rating }},
                            Meeting Type: {{ log.get_meeting_type_display }}
                        </li>
                    {% else %}
                        <li>No meetings logs for {{ date }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No meetings data available for {{ date }}</p>
        {% endif %}
        <!-- Seizure Log Section -->
        {% if seizure_logs %}
            <h2>Seizure Log for {{ date }}</h2>
            <ul>
                {% for log in seizure_logs %}
                    {% if log.date|date:"Y-m-d" == date %}
                        <li>
                            {{ log.date }} - 
                            Time: {{ log.time|time:"H:i" }}, 
                            Duration (minutes): {{ log.duration_minutes }},
                            Last Memory: {{ log.last_memory }}
                        </li>
                    {% else %}
                        <li>No seizure logs for {{ date }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No seizure data available for {{ date }}</p>
        {% endif %}
        {% if medication_logs %}
        <h2>Medication Log for {{ date }}</h2>
        <ul>
            {% for log in medication_logs %}
            <li>{{ log.medication.name }} - Time Taken: {{ log.time_taken }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No medication data available for {{ date }}</p>
    {% endif %}
{%endif%}
    

    {% if is_current_date %}
        <form method="POST" action="{% url 'dashboard:food_log_api' %}">
            {% csrf_token %}
            <input type="hidden" name="date" value="{{ date }}">
            <input type="hidden" name="user" value="{{ request.user.id }}">
            <label for="breakfast_ate">Breakfast Ate:</label>
            <input type="checkbox" id="breakfast_ate" name="breakfast_ate" {% if food_logs and food_logs.0.breakfast_ate %}checked{% endif %}>
            <br>
            <label for="breakfast_time">Breakfast Time:</label>
            <input type="time" id="breakfast_time" name="breakfast_time" value="{% if food_logs %}{{ food_logs.0.breakfast_time|date:'H:i' }}{% endif %}">
            <br>
            <label for="lunch_ate">Lunch Ate:</label>
            <input type="checkbox" id="lunch_ate" name="lunch_ate" {% if food_logs and food_logs.0.lunch_ate %}checked{% endif %}>
            <br>
            <label for="lunch_time">Lunch Time:</label>
            <input type="time" id="lunch_time" name="lunch_time" value="{% if food_logs %}{{ food_logs.0.lunch_time|date:'H:i' }}{% endif %}">
            <br>
            <label for="dinner_ate">Dinner Ate:</label>
            <input type="checkbox" id="dinner_ate" name="dinner_ate" {% if food_logs and food_logs.0.dinner_ate %}checked{% endif %}>
            <br>
            <label for="dinner_time">Dinner Time:</label>
            <input type="time" id="dinner_time" name="dinner_time" value="{% if food_logs %}{{ food_logs.0.dinner_time|date:'H:i' }}{% endif %}">
            <br>
            <button type="submit">Save</button>
        </form>
        <form method="POST" action="{% url 'dashboard:sport_log_api' date=date %}">
            {% csrf_token %}
            <input type="hidden" name="date" value="{{ date }}">
            <input type="hidden" name="user" value="{{ request.user.id }}">
            <label for="did_sport">Did Sport:</label>
            <input type="checkbox" id="did_sport" name="did_sport" {% if sport_logs and sport_logs.0.did_sport %}checked{% endif %}>
            <br>
            <label for="sport_type">Sport Type:</label>
            <select id="sport_type" name="sport_type">
                <option value="" {% if not sport_logs or not sport_logs.0.sport_type %}selected{% endif %}>Select</option>
                {% for choice_key, choice_value in sport_choices %}
                    <option value="{{ choice_key }}" {% if sport_logs and sport_logs.0.sport_type == choice_key %}selected{% endif %}>{{ choice_value }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="other_sport">Other Sport:</label>
            <input type="text" id="other_sport" name="other_sport" value="{% if sport_logs %}{{ sport_logs.0.other_sport }}{% endif %}">
            <br>
            <button type="submit">Save</button>
        </form>
        <!-- Sleeping Log Form -->
        <form method="POST" action="{% url 'dashboard:sleeping_log_api' %}">
            {% csrf_token %}
            <input type="hidden" name="date" value="{{ date }}">
            <input type="hidden" name="user" value="{{ request.user.id }}">
            <label for="sleep_time">Sleep Time:</label>
            <input type="time" id="sleep_time" name="sleep_time" value="{% if sleeping_logs %}{{ sleeping_logs.0.sleep_time|time:'H:i' }}{% endif %}">
            <br>
            <label for="wake_time">Wake Time:</label>
            <input type="time" id="wake_time" name="wake_time" value="{% if sleeping_logs %}{{ sleeping_logs.0.wake_time|time:'H:i' }}{% endif %}">
            <br>
            <label for="woke_up_during_night">Woke Up During Night:</label>
            <input type="checkbox" id="woke_up_during_night" name="woke_up_during_night" {% if sleeping_logs and sleeping_logs.0.woke_up_during_night %}checked{% endif %}>
            <br>
            <button type="submit">Save</button>
        </form>        
        <form method="POST" action="{% url 'dashboard:meetings_log_api' %}">
            {% csrf_token %}
            <input type="hidden" name="date" value="{{ date }}">
            <input type="hidden" name="user" value="{{ request.user.id }}">
            <label for="time">Time:</label>
            <input type="time" id="time" name="time" value="{% if meetings_logs %}{{ meetings_logs.0.time|time:'H:i' }}{% endif %}">
            <br>
            <label for="met_people">Met People:</label>
            <input type="checkbox" id="met_people" name="met_people" {% if meetings_logs and meetings_logs.0.met_people %}checked{% endif %}>
            <br>
            <label for="positivity_rating">Positivity Rating:</label>
            <input type="number" id="positivity_rating" name="positivity_rating" min="1" max="5" value="{% if meetings_logs %}{{ meetings_logs.0.positivity_rating }}{% endif %}">
            <br>
            <label for="meeting_type">Meeting Type:</label>
            <select id="meeting_type" name="meeting_type">
                <option value="" selected disabled>Select</option>
                {% for key, value in meeting_type_choices %}
                    <option value="{{ key }}" {% if meetings_logs and meetings_logs.0.meeting_type == key %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit">Save</button>
        </form>
        <form method="POST" action="{% url 'dashboard:seizure_logs_api' %}">
            {% csrf_token %}
            <input type="hidden" name="date" value="{{ date }}">
            <input type="hidden" name="user" value="{{ request.user.id }}">
            <label for="seizure_time">Time:</label>
            <input type="time" id="seizure_time" name="time" value="{% if seizure_logs %}{{ seizure_logs.0.seizure_time|time:'H:i' }}{% endif %}">
            <br>
            <label for="duration_minutes">Duration (minutes):</label>
            <input type="number" id="duration_minutes" name="duration_minutes" value="{% if seizure_logs %}{{ seizure_logs.0.duration_minutes }}{% endif %}">
            <br>
            <label for="last_memory">Last Memory:</label>
            <textarea id="last_memory" name="last_memory">{% if seizure_logs %}{{ seizure_logs.0.last_memory }}{% endif %}</textarea>
            <br>
            <button type="submit">Save</button>
        </form>
        <h3>Medications</h3>
        <form method="POST" action="{% url 'medications:add_medication_log' %}">
          {% csrf_token %}
          {% for medication in medications %}
          <h4>{{ medication.name }}</h4>
          <input type="hidden" name="date" value="{{ date }}">
          <input type="hidden" name="user" value="{{ request.user.id }}">
          <input type="hidden" name="medication_id" value="{{ medication.id }}">
          {% for i in times_per_day_range %}
          <input type="checkbox" id="medication_{{ medication.id }}_{{ i }}" name="medication_{{ medication.id }}_{{ i }}">
          <label for="medication_{{ medication.id }}_{{ i }}">Time {{ i|add:1 }}</label>
          <input type="time" id="time_{{ medication.id }}_{{ i }}" name="time_{{ medication.id }}_{{ i }}">
          <br>
          {% endfor %}
          {% endfor %}
          <button type="submit">Save Medication Log</button>
        </form>
    {% endif %}
</body>
</html>